.todolist {
    background-color: #b32c2d;
    background: -moz-linear-gradient(top, #b32c2d 0%, #b32c2d 100%);
    padding: 20px 20px 10px 20px;
    margin-top: 30px;
  color:#fff;
    h1 {
      margin: 0;
      padding-bottom: 20px;
      text-align: center;
    }
    p {
      margin: 0px;
    }
    li {
      margin: 10px;
    }
  }
  
  .form-control {
    border-radius: 0;
  }
  
  li.ui-state-default {
    background: #333;
    border: none;
    padding: 15px;
    border-bottom: 1px solid #b32c2d !important;
    &:last-child {
      border-bottom: none;
    }
  }
  
  .todo-footer {
    background-color: #b32c2d;
    margin: 0 -20px -10px -20px;
    padding: 10px 20px;
  }
  
  #done-items li {
    padding: 10px 0;
    border-bottom: 1px solid #b32c2d;
    text-decoration: line-through;
    &:last-child {
      border-bottom: none;
    }
  }
  
  #checkAll {
    margin-top: 10px;
  }